html,
body {
  color: #444;
}

body {
  max-width: 620px;
  margin: 40px auto;
}

input {
  border: 1px solid #ccc;
  border-radius: 2px;
  display: block;
  padding: 8px 6px;
  width: 100%;
}

button {
  background: #08c;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 12px 16px;
}

button:hover,
button:focus {
  background: #444444;
  cursor: pointer;
}

hr {
  background: #ccc;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
}
